.our_services {
    /* writing-mode: vertical-lr; */
    /* text-orientation: upright; */
    overflow-x: hidden;
    @apply relative;
}

.bg-blackish {
    background-color: coral;
}

.content{
    /* @apply uppercase; */
    text-transform: uppercase;
}

@media (max-width: 768px) {
    .our_services h4 {
        @apply text-center font-bold text-4xl [word-spacing:0.5rem] mb-4;
    }

    .our_services .parent1,
    .our_services .parent2,
    .our_services .parent3,
    .our_services .parent4 {
        @apply relative m-10 mx-14 sm:mx-20;
    }

    .our_services .parent1 .content,
    .our_services .parent2 .content,
    .our_services .parent3 .content,
    .our_services .parent4 .content {
        @apply relative text-2xl font-bold text-center h-full text-white p-8 xs:py-12 rounded;
    }

    .our_services .parent1 :nth-child(1),
    .our_services .parent2 :nth-child(1),
    .our_services .parent3 :nth-child(1),
    .our_services .parent4 :nth-child(1) {
        @apply absolute bg-[#9EDDDF] top-4 left-4 h-full w-full rounded;
    }

    .our_services .parent1 .content {
        @apply bg-[#00C4CC];
    }

    .our_services .parent2 .content {
        @apply bg-[#FFD93B];
    }

    .our_services .parent3 .content {
        @apply bg-[#ff738e];
    }

    .our_services .parent4 .content {
        @apply bg-[#ffa43a];
    }

    .our_services .parent1 :nth-child(1) {
        @apply bg-[#9EDDDF];
    }

    .our_services .parent2 :nth-child(1) {
        @apply bg-[#FFEEA8];
    }

    .our_services .parent3 :nth-child(1) {
        @apply bg-[#ffc6d1];
    }

    .our_services .parent4 :nth-child(1) {
        @apply bg-[#ffd7a8];
    }
}


@media (min-width: 768px) {
    .our_services {
        @apply h-[94rem];
    }
    

    .our_services h4 {
        writing-mode: vertical-lr;
        text-orientation: upright;
        @apply text-center text-4xl p-8 px-10 font-semibold bg-[#feffd4];
    }

    .blocks{
        @apply absolute w-[17rem] h-[30rem] transition-all duration-1000 text-4xl font-bold text-left;
    }

    .transition_all_1s{
        @apply transition-all duration-1000;
    }

    /* ------------------------- DIV 1 ---------------------- */
    
    .our_services .parent1 {
        @apply blocks top-0 left-[20%] xl:left-[24%];
    }

    .our_services .parent1 .content{
        @apply relative top-1 left-14 pl-1 pt-1 transition_all_1s;
    }

    .our_services .parent1 :nth-child(1){
        @apply absolute top-6 left-4 h-full w-full bg-[#9edddf] transition_all_1s;
    }
    
    .our_services .parent1 :nth-child(2){
        @apply absolute -top-4 -left-8 h-full w-full bg-[#00C4CC] transition_all_1s;
    }

    /* ------------------------- DIV 2 ---------------------- */
    .our_services .parent2 {
        @apply blocks top-60 left-[65%] xl:left-[68%];
    }

    .our_services .parent2 .content{
        @apply relative -top-2 -left-16 pl-1 pt-1 transition_all_1s;
    }

    .our_services .parent2 :nth-child(1){
        @apply absolute top-7 -left-7 h-full w-full bg-[#FFEEA8] transition_all_1s;
    }
    
    .our_services .parent2 :nth-child(2){
        @apply absolute -top-4 left-6 h-full w-full bg-[#FFD93B] transition_all_1s;
    }

    /* ------------------------- DIV 3 ---------------------- */
    .our_services .parent3 {
        @apply blocks top-[40rem] left-[22%] xl:left-[25%];
    }

    .our_services .parent3 .content{
        @apply relative top-1 left-16 pl-1 pt-1 transition_all_1s;
    }

    .our_services .parent3 :nth-child(1){
        @apply absolute top-4 left-6 h-full w-full bg-[#ffc6d1] transition_all_1s;
    }
    
    .our_services .parent3 :nth-child(2){
        @apply absolute -top-4 -left-6 h-full w-full bg-[#ff738e] transition_all_1s;
    }

    /* ------------------------- DIV 4 ---------------------- */
    .our_services .parent4 {
        @apply blocks top-[60rem] left-[63%] xl:left-[67%];
    }

    .our_services .parent4 .content{
        @apply relative top-3 -left-16 pl-1 pt-1 transition_all_1s;
    }

    .our_services .parent4 :nth-child(1){
        @apply absolute top-7 -left-8 h-full w-full bg-[#ffd7a8] transition_all_1s;
    }
    
    .our_services .parent4 :nth-child(2){
        @apply absolute -top-3 left-4 h-full w-full bg-[#ffa43a] transition_all_1s;
    }

    .our_services .parent1:hover .content,
    .our_services .parent1:hover :nth-child(1),
    .our_services .parent1:hover :nth-child(2),
    .our_services .parent2:hover .content,
    .our_services .parent2:hover :nth-child(1),
    .our_services .parent2:hover :nth-child(2),
    .our_services .parent3:hover .content,
    .our_services .parent3:hover :nth-child(1),
    .our_services .parent3:hover :nth-child(2),
    .our_services .parent4:hover .content,
    .our_services .parent4:hover :nth-child(1),
    .our_services .parent4:hover :nth-child(2){
        @apply top-0 left-0;
    }

}