@tailwind base;
@tailwind components;
@tailwind utilities;

.wrapper {
    @apply max-w-4xl;
}

.bg-wheat {
    /* @apply bg-rose-500; */
    background-color: #fef3ea;
}

.spacer {
    aspect-ratio: 640/300;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.layer1 {
    background-image: url('/stacked-waves-haikei-mobile.svg');
}

@media (min-width: 640px) {
    .spacer {
        aspect-ratio: 960/200;
    }

    .layer1 {
        background-image: url('/stacked-waves-haikei.svg');
    }

}