/* whatsapp icon */
.call_icon {
    position: fixed;
    bottom: 4.25rem;
    right: 0;
    margin: 1rem;
    z-index: 100;
}

.call_icon a {
    border: none;
    background: #15b2f7;

    border-radius: 2rem;
    width: 3.5rem;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    align-items: center;

    /* border: 4px solid white; */
}

.call_icon a button {
    display: flex;
    font-size: 1.5rem;
    text-decoration: none;
    color: #ffffff;
    background: #15b2f7;
}